.a
{
    position: fixed;
    background-color: white;
}
.a1
{
    color: rgba(255, 196, 0, 0.904);
    text-size-adjust: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
.parent3
{
    background-color: rgb(230, 230, 47);
}
